@import "vars";


/*==========  Desktop First  ==========*/

@media (max-width: 1600px) {
  .menu.is-head .menu--nav a {
    font-size: 12px;
  }
  .heading-1 {
    font-size: 44px;
  }
  .heading-2 {
    font-size: 34px;
  }
  .menu--nav a {
    font-size: 12px;
  }
  .menu--numbers a {
    font-size: 12px;
  }
  .menu--madeby a {
    font-size: 10px;
  }
  .menu--copyright .text--16 {
    font-size: 10px;
  }
  .menu--copyright a{
    font-size: 10px;
  }
  .subtitle--md {
    font-size: 13px;
  }
  .subtitle--lg {
    font-size: 16px;
  }
  .text--14 {
    font-size: 12px;
  }
}

@media (max-width: 1400px) {
  .menu.is-head .menu--nav a {
    font-size: 12px;
  }
  .heading-1 {
    font-size: 44px;
  }
  .heading-2 {
    font-size: 34px;
  }
  .menu--nav a {
    font-size: 10px;
  }
  .menu--numbers a {
    font-size: 10px;
  }
  .menu--madeby a {
    font-size: 10px;
  }
  .menu--copyright .text--16 {
    font-size: 10px;
  }
  .menu--copyright a{
    font-size: 10px;
  }
  .subtitle--md {
    font-size: 13px;
  }
  .subtitle--lg {
    font-size: 16px;
  }
  .text--14 {
    font-size: 12px;
  }
}

// ≥1200px
@include media-breakpoint-down(lg) {
  body {
    font-size: 13px;
  }
  .subtitle--md {
    font-size: 13px;
  }
  .text--14 {
    font-size: 10px;
  }
  .pic-50 svg {
    height: 40px;
  }
	.menu--nav {
    display: none;
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .text--16 {
    font-size: 14px;
  }
  .menu--copyright .text--16 {
    font-size: 12px;
  }
  .menu--madeby .link {
    font-size: 12px;
  }
  .menu--bottom , .menu--top {
    padding: 0 20px;
  }
  .section {
    padding: 0 20px;
  }
  .heading-1 {
    font-size: 30px;
  }
}

// ≥768px
@media (max-width: 800px) {
  .menu--numbers a {
    font-size: 16px;
  }
  .pic-50 {
    width: 100%;
  }
  .form-group {
    margin: 2rem 0;
  }
  .modal--inner {
    display: flex;
    align-items: center;
  }
  .modal--content {
    padding: 10%;
  }
  .pic-50 svg {
    fill: #fff;
  }
  .menu.is-head .menu--logo__white {
    opacity: 1;
  }
  .menu.is-head .menu--logo__black {
    opacity: 0;
  }

  .slick-dots li button:before {
    color: #000;
    border: 1px solid #000;
  }
  
  .slick-dots li.slick-active button:before {
    color: #000;
    background: #000;
    opacity: 1;
  }
  
  .head--bg {
    width: 100%;
    z-index: 0;
  }
  .electro--bg, .truck--bg, .about--bg {
    display: none;
  }

  body, html , .swiper-container {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
  }
  .head.section .container-fluid {
    padding: 15px;
    background: rgba(0,0,0,.75);
    height: 70%;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .row {
      width: 100%;
    }
  }
  .swipe--up__block span {
		transform: translateY(0)
	}
	.fade--in {
		opacity: 1;
  }
  .about, .electro, .truck, .contacts {
    color: #000;
    height: auto;
    min-height: 70vh;
    padding: 5vh 0;
    .pic-50 svg {
      fill: #000;
    }
  }
  .contacts {
    height: 100vh;
  }
  .section .row {
    margin: 0 -15px;
  }
  .swiper-slide {
    height: auto;
    touch-action: none;
  }
  .swiper-wrapper {
    display: block;
  }
  .heading-1 {
    color: #fff;
  }
  .menu--top {
    top: 0;
    padding: 20px 15px;
  }
  .menu.is-black .menu--top {
    background: #fff;
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  body {
    font-size: 14px;
    line-height: 1.3;
  }
  .form--input {
    font-size: 14px;
  }
  .contacts .container-fluid {
    background: none;
  }
  .menu--madeby .link {
    font-size: 10px;
  }
  .menu--numbers .link {
    font-size: 14px;
  }
  .subtitle--lg {
    font-size: 14px;
  }
  .subtitle--md {
    font-size: 14px;
  }
  .heading-2 {
    font-size: 18px;
  }
  .btn--red{
    font-size: 14px;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    display: inline-block;
  }

  .pic-black svg {
    fill: #fff;
  }
  .pic-50 {
    width: 100%;
  }
  .menu.is-about {
    .menu--numbers{
      a {
        color: #fff;
        &::before {
          background: #fff;
        }
      }
    }
    .menu--copyright {
      color: #000;
      .text--white {
        color: #fff;
      }
      a {
        color: #fff;
        &::before {
          background: #fff;
        }
      }
    }
  }
  .subtitle--lg , .subtitle--md {
    font-size: 14px;
  }
  .text--14 {
    font-size: 12px;
  }
}

@media (max-width: 321px) {
  .subtitle--lg , .subtitle--md {
    font-size: 10px;
  }
  .heading-1 {
    font-size: 24px;
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
